     {% if chats %}
        <table>
             <tr>
                 <td width="10%">
                    <h2>Чаты</h2>
                 </td>
                </tr>
            {% for chat in chats %}
            <tr>
                <td>
                    <h3><a href="{{ chat.get_absolute_url }}">{{ chat.name}}</a></h3>
                </td>

             </tr>
            {% endfor %}
        </table>
     {% else %}
        <h2> Нет чатов </h2>
    {% endif %}
    <br>
    <button> <a href="{% url 'logout'%}">Logout</a> </button>
    <button> <a href="{% url 'new-chat'%}">New chat</a></button>
    <br>
